/* ----------------- */
/*       Admin       */
/* ----------------- */


.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: rgb(32, 32, 32);
    border-right: 3px solid #ddd;
    text-align: center;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidenav a {
    display: block;
    margin: 10px 0;
    padding: 8px 0;
    color: rgb(240, 232, 232);
    text-decoration: none;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: #c4a112;
    color: rgb(32, 32, 32);
  }
  
  .closebtn {
    position: absolute;
    top: 10;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }